@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway:wght@400;500&display=swap');

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;

	@media only screen and(min-width:$vp-14) {
		font-size: 70%;
	}

	@media only screen and(min-width:$vp-4k) {
		font-size: 85%;
	}

	@media only screen and(max-width:$vp-9) {
		font-size: 57.5%;
	}
	@media only screen and(max-width:$vp-8) {
		font-size: 55%;
	}
	@media only screen and(max-width:$vp-6) {
		font-size: 50%;
	}
}

body {
	background-color: #fffffe;
	font-family: 'Raleway', sans-serif;

	line-height: 1.6;
	color: var(--font-primary);
	font-size: 1.6rem;

	overflow-x: hidden;
}

.heading-1 {
	font-family: 'Lato', sans-serif;
	font-size: 4.8rem;
	line-height: 1;
}
.heading-2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 2.2rem;
	letter-spacing: 2px;
	line-height: 1;
}
.heading-3 {
	font-family: 'Lato', sans-serif;
	font-size: 4rem;
	line-height: 0.9;
}
.heading-4 {
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

//helper classes
.spacing-sm > * + * {
	margin-top: 1.5rem;
}
.spacing > * + * {
	margin-top: 2.5rem;
}
.spacing-lg > * + * {
	margin-top: 3.5rem;
}
