.btn {
	text-decoration: none;
	border: 0;
	border-radius: 0.3rem;
	background-color: $accent;
	padding: 1.2rem 2rem;
	color: #382608;
	font-family: 'Raleway', sans-serif;
	font-size: 1.8rem;
	font-weight: 500 !important;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease-out;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
}
.btn-sec {
	background-color: $secondary;
	color: $font-primary;
}
.btn-sec:hover {
	background-color: rgba($secondary, 0.7) !important;
}
.btn:hover {
	background-color: rgba($accent, 0.8);
}
.btn:focus {
	outline: 1px solid #fffffe;
}
a {
	text-decoration: none;
	color: $font-primary;
}

@mixin sectionHeading {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 4rem;
		left: 0;
		height: 5px;
		width: 6rem;
		border-radius: 1rem;
		background-color: $accent;
	}
}
