.btn {
	display: inline-block;

	border-radius: 1rem;
	background-color: var(--accent);
	padding: 0.7em 1.3em;

	text-decoration: none;
	letter-spacing: 2px;
	color: #221b07;
	font-weight: 700;
	font-size: 1.7rem;

	text-transform: uppercase;
	text-align: center;
	border: 2px solid var(--accent);

	cursor: pointer;
	transition: opacity 200ms ease-in-out;
}
.btn-sec {
	background-color: transparent;
	color: var(--font-primary);
}
.btn-sec:hover {
	opacity: 0.9;
}
.btn:hover {
	opacity: 0.9;
}
.btn:focus {
	outline: 1px solid var(--font-secondary);
}
a {
	text-decoration: none;
	color: var(--font-primary);
}
