//helper classes
.spacing-sm > * + * {
	margin-top: 1.5rem;
}
.spacing > * + * {
	margin-top: 2.5rem;
}
.spacing-lg > * + * {
	margin-top: 3.5rem;
}

.container {
	width: 85%;
	max-width: 120rem;
	margin: 0 auto;
}
